<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular Listing A</title>
  <base href="/">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="{% static 'app/styles.0ef2e087707b0f746f5b.bundle.css' %}" rel="stylesheet"/></head>
<body>
  <app-root></app-root>
  <script type="text/javascript" src="{% static 'app/inline.1ab6a32bceec5517e2b4.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/polyfills.07685bca73161be59257.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts.4a7a0a420689943f3cbe.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/vendor.b4f394d6c8ddbe5adbfc.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/main.0a02071847c1e67fd0ab.bundle.js' %}"></script></body>
</html>
