# See http://help.github.com/ignore-files/ for more about ignoring files.

.virtual-env

# angular-listing compiled output
angular-listing/dist
angular-listingr/tmp
angular-listing/out-tsc

# angular-listing dependencies
angular-listing/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
angular-listing/.sass-cache
angular-listing/connect.lock
angular-listing/coverage
angular-listing/libpeerconnection.log
npm-debug.log
testem.log
angular-listing/typings

# e2e
angular-listing/e2e/*.js
angular-listing/e2e/*.map

# System Files
.DS_Store
Thumbs.db
